h3{
    font-size: 30px !important;
}
.btn-warning:hover{
    background-color: crimson;
}
.btn-warning{
    font-size: 25px;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}